*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color: skyblue;
    border: 1px solid black;
}
.search{
    position: absolute;
    top: 5%;
    width: 40%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: auto;
}
.coninp{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: large;
}
.coninp::before,.coninp::after{
    content: "";
    width: 20px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
}
ul{
    width: 100%;
    overflow: auto;
    border: 1px solid greenyellow;
    /* overflow: auto; */
}
ul li{
    padding: 17px 15px;
    list-style: none;
    width: 100%;
    height: 50px;
    border-bottom:1px solid  black;
    cursor: pointer;
}
.image{
    position: absolute;
    top: 30%;
    width: 80%;
    background-image: url();
    
}