*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(black,rgba(128, 128, 128, 0));
    box-shadow: 0px 0px 15px 5px black;
    color: white;
}
.hand{
    display: none;
    width: 5px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform-origin: 50% 100%;
    border-radius: 100%;
    transition: all .9s;
}
.roman{
    width: 10%;
    height: 90%;
    position: absolute;
    text-align: center;
    top: 5%;
    left: 45%;
    font-size: 1.7em;
    /* temporary */
}
.center{
    position: absolute;
    top: 48%;
    left: 49%;
    width: 4%;
    height: 4%;
    background-color: rgb(218, 165, 32);
    border-radius: 50%;
}
.hour{
    top: 20%;
    height: 30%;
    background-color: skyblue;
}
.second{
    height: 40%;
    top: 10%;
    background-color: violet;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.1,1.7,0,1);
}
.minutes{
    height: 45%;
    top: 5%;
    background-color: blue;
}
@media only screen and (max-width: 700px){
    .clock{
        width: 300px;
        height: 300px;
        font-size: 0.7em;
    }
}
